spring:
  profiles:
    active: docker

eureka:
  client:
    service-url:
      defaultZone: http://ms-discovery:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info
